.container {
  -webkit-backdrop-filter: blur(9px);
  backdrop-filter: blur(9px);
  background-color: rgba(56, 30, 204, 0.4);
  border-radius: 50px;

  margin: 160px auto 0;
  padding: 90px 30px;
  max-width: 700px;
}

.wrapper {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.loader {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #505050;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.title {
  background: linear-gradient(to left, #efe00e, #d800ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* color: #2dfdb2; */
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 0.1em;

  text-align: center;

  @media screen and (max-width: 600px) {
    font-size: 24px;
    font-weight: 500;
    padding: 60px 15px;
  }
}
